#presentation {
    display: flex;
    width: 100%;
    margin-top: 6rem;
    height: 100vh;
    flex-direction: column;
    
}

#presentation > h2 {
    display: none;
}

.pres--content {
    display: flex;
}

.pres--imgbox {
    background-image: url("../../img/Présentation.jpg");
    background-size:cover;
    background-position: bottom left;
    height: 400px;
    width: 40%;
    border-radius: 20px;
    margin: 3rem 2rem;
    float: left;
}

.pres--para {
    width: 60%;
    display: flex;
    flex-direction: column; 
    margin-right: 2rem;
    justify-content: center;
}

.pres--para > p {
    font-size: 1.3rem;
}

.arrow-down {
    display: flex;
    
    justify-content: center;
    margin-top: 5rem;
}

.arrow-down > img {
    width: 100px;
}


@media screen and (max-width: 1200px) {
    .pres--para > p {
        font-size: 1rem;
        margin-right: 1rem;
    }

    .pres--imgbox {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 1024px) {
    #presentation {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        gap: 4rem
    }

    #presentation > h2 {
        display: inline;
        font-size: 2rem;
        
    }

    .pres--content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .pres--imgbox {
        margin: 0;
        width: 50%;
        height: 300px;
    }
    
    .pres--para {
        margin-top: 2rem;
    }

    .pres--para > p {
        font-size: 1.2rem;
        text-align: justify;
    }

    .arrow-down {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    #presentation {
        gap: 0;
    }
    
    .pres--imgbox {
        display: none;
    }

    .arrow-down {
        display: none;
    }
}

@media screen and (max-width: 375px) {

    #presentation {
        gap: 1rem;
    }

    .arrow-down {
        display: none;
    }

    .pres--para > p {
        font-size: 1rem;
        margin: 0;
        text-align: justify;
    }
}

@media screen and (max-width: 360px) {

    #presentation {
        gap: 0;
    }

    .pres--para > p {
        font-size: .9rem;
    }
}

