#contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2rem;
    height: 100vh;
    padding-top: 60px;
}

#footer {
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top:  1px solid rgb(214, 214, 214);
}

#contact > h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.contact--content {
    display: flex;
    margin: 5rem 5rem;
    height: 65%;
    justify-content: space-around;
    background: black;
    color: white;
    border-radius: 10px;
    padding: 5rem 0;
    
}

.contact--description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact--mail {
    color: white;
    text-decoration: underline;
}

.contact--description > p > .icon {
    margin-right: 1.5rem;
}

.contact--imgbox {
    display: flex;
    align-items: center;
}

.contact--imgbox > img {
    border-radius: 10px;
}

.social-networks {
    display: flex;
    justify-content: space-around;
}

.social-networks > a {
    color: #A7D0C2
}

.paragraph-description {
    text-align: center;
    font-weight: bold;
}

.icon {
    width: 32px !important;
    height: 24px;
}

@media screen and (max-width: 1150px){
    .contact--content {
        display: flex;
        flex-direction: column-reverse;
        height: 75%;
    }

    .contact--imgbox {
        margin-bottom: 2rem;
    }

    .contact--description > p {
        text-align: center;
        padding-bottom: 1rem;
    }

    .contact--imgbox > img {
        margin: 0 auto;
    }
}

@media screen and (max-width: 540px){
    .contact--content {
        margin: 1rem 1rem;
    }
}


@media screen and (max-height: 890px) {
    #contact {
        height: auto;
    }

    .contact-content {
        height: auto;
    }
}